<ul class="stick_nav">
    <li>
        <a data-href="#biensepreparer_area" id="target_biensepreparer_area" class="active" ng-click="stickNavLinks($event)">Présentation</a>
    </li>
    <li>
        <a data-href="#carre_area" id="target_carre_area" ng-click="stickNavLinks($event)">Career Center</a>
    </li>
    <li>
        <a data-href="#programme_area" id="target_programme_area" ng-click="stickNavLinks($event)">Programme</a>
    </li>
</ul>
<div class="global_wrapper biensepreparer_page">
    <section id="biensepreparer_area" class="presentation_area home_biensepreparer">
        <div class="biensepreparer_txt_area">
            <div class="biensepreparer_txt clearfix">
                <div class="txt_infos">
                    <h2>Bien se préparer</h2>
                    <p> Vous devez donc être conscients qu’une telle rencontre se prépare. Bien sûr, vous aurez tous des objectifs différents et c’est à vous de les déterminer. Cette manifestation peut vous permettre de vous informer sur les métiers et secteurs dans lesquels vous pourrez vous investir dès la sortie de l’École. Vous pourrez encore confirmer votre intérêt pour un secteur ou une entreprise, trouver une première expérience professionnelle en France ou à l’international, etc. Bien que nous ne puissions pas vous donner une liste exhaustive des outils de préparation de cet évènement, nous vous proposons plusieurs opportunités afin de vous aider à profiter pleinement du Forum. </p>
                </div>
            </div>
        </div>
        <!--<p class="trailer_area align_center">
            <button class="btn big_btn orange_btn inverted_btn animated_btn shadow_btn"><span>télécharger le plan du forum</span></button>
        </p>-->
        <a data-href="#carre_area" class="scroll_btm" ng-click="scroll_btm($event)">&nbsp;</a>
    </section>
    <section id="carre_area" class="sections_area carre_area clearfix">
        <div class="left_parte carre_center grey_bg">
            <img src="assets/img/img_carre_center.jpg" alt="">
        </div>
        <div class="right_parte space_carre_center">
            <div class="title_area">
                <h3 class="block_title with_bg darkPurple_clr withRelated_icn career_title">
                    <span>Le Forum virtuel Arts&Métiers</span>
                </h3>
                <div class="block_content">
                    <p class="mb_10">
                        <img src="assets/img/logo seekube.png" height="100px">
                    </p>
                    <p class="mt_15 mb_20">
                        Pour mieux t’aider et t’accompagner dans la période avant le forum, l’équipe organisatrice t’invite dès à présent à t’inscrire au forum virtuel qui se déroulera sur la plateforme seekube du 24 novembre au 5 décembre. 
                    </p>
                    <p class="mt_15 mb_20">Tu pourras ainsi trouver ton stage ou un emploi avant même d’avoir participé au forum physique du 4 janvier 2017, alors ne loupe pas cette occasion ! </p>
                    <p>
                        <a href="https://www.seekube.com/forum-virtuel-arts-metiers" class="btn purple_btn inverted_btn animated_btn"><span>S'inscrire sur Seekube</span></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="programme_area" class="sections_area programme_area clearfix">
        <div class="left_parte">
            <div class="title_area">
                <h3 class="block_title with_bg orange_clr withRelated_icn programme_title">
                            <span class="small_title_parte">
                               Programme
                            </span>
                </h3>
                <div class="block_content mb_60">
                    <p>
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.-->
                    </p>
                </div>
            </div>
        </div>
        <div class="right_parte space_programme grey_bg">
            <div class="block_content mb_60">
                <h4 class="darkPurple_clr">Conseils et Coaching individuel</h4>
                <h5 class="orange_clr mb_30">rdv le 4 Janvier 2017, au forum Art&Métiers</h5>
                <p>
                    iQuesta, site leader sur le marché des étudiants et jeunes diplômés Bac+3 à Bac+5,
                    te propose des séances individuelles de conseils et de coaching le jour du Forum.
                    Viens les rencontrer sur leur stand, afin de te préparer
                    au mieux pour rencontrer les professionnels.
                </p>
                <h4 class="darkPurple_clr">Correction de CV en ligne</h4>
                <p>
                    Tu n'as pas eu le temps de faire corriger ton CV ? Mais tu souhaites le faire pour
                    mettre toutes les chances de ton côté ? Rien de plus simple, connecte toi en allant
                    sur le site de iQuesta.
                    Un service de correction de CV proposé par iQuesta est mis à ta disposition.
                    Alors n'hésites plus ! Attention, ce service n'est disponible qu'avec l'adresse de
                    l'Ecole (pour les Arts & Métiers, c'est donc ensam.eu)
                </p>
                <p class="mt_30">
                    <a href="http://www.iquesta.com/" class="btn purple_btn animated_btn"><span>aller sur le site iQuesta</span></a>
                </p>
            </div>
        </div>
    </section>
</div>