<header class="header">
    <div class="main_head clearfix" ng-click="hideModals()">
        <div class="logo_area float_left">
            <h1>
                <img src="assets/img/Logo_A_M.png" class="default_logo" alt="Art & métiers" width="103">
                <img src="assets/img/Logo_A_M-white.png" class="white_logo" alt="Art & métiers" width="100">
            </h1>
        </div>
        <ul class="main_nav float_right">
            <li>
                <a href="" ng-click="targetPage('accueil')" ng-class="{active : targetUrl == 'accueil'}">
                    Accueil
                </a>
            </li>
            <li>
                <a href="" ng-click="targetPage('biensepreparer')" ng-class="{active : targetUrl == 'biensepreparer'}">
                    Bien se préparer
                </a>
            </li>
            <li>
                <a href="" ng-click="targetPage('exposants')" ng-class="{active : targetUrl == 'exposants'}">
                    Les exposants
                </a>
            </li>
            <li>
                <a href="" ng-click="targetPage('infospratiques')" ng-class="{active : targetUrl == 'infospratiques'}">
                    informations pratiques
                </a>
            </li>
        </ul>
        <a href="" ng-click="targetPage('connexion')"  class="entreprise_space_link">
            <img src="assets/img/lock_icn.png" alt="">
            <span>espace entreprise</span>
        </a>
        <button class="menu_btn hamburger hamburger--elastic fixed_menubtn" type="button" ng-click="menuBtn()">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
        </button>
        <div class="mobile_menu_container">
            <ul class="mobile_nav_menu">
                <li>
                    <a href="" ng-click="targetPageMobile('accueil')"  ng-class="{active : targetUrl == 'accueil'}">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="" ng-click="targetPageMobile('biensepreparer')" ng-class="{active : targetUrl == 'biensepreparer'}">
                        Bien se préparer
                    </a>
                </li>
                <li>
                    <a href="" ng-click="targetPageMobile('listeexposants')" ng-class="{active : targetUrl == 'listeexposants'}">
                        Les exposants
                    </a>
                </li>
                <li>
                    <a href="" ng-click="targetPageMobile('infospratiques')" ng-class="{active : targetUrl == 'infospratiques'}">
                        informations pratiques
                    </a>
                </li>
            </ul>
            <div class="mobile_social_links">
                <ul class="clearfix">
                    <li>
                        <a href="" class="fb_link">&nbsp;</a>
                    </li>
                    <li>
                        <a href="" class="twitter_link">&nbsp;</a>
                    </li>
                    <li>
                        <a href="" class="linkdin_link">&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<ul class="social_links">
    <li>
        <a href="" class="fb_link">&nbsp;</a>
    </li>
    <li>
        <a href="" class="twitter_link">&nbsp;</a>
    </li>
    <li>
        <a href="" class="linkdin_link">&nbsp;</a>
    </li>
</ul>
