<div class="exposant_detail">
    <div>
        <button class="exposant_back_btn" ng-click="hideExposant()">
            <!-- <img src="img/exposant_back_icn.png" width="16" alt=""> -->
            <img src="assets/img/grey_back_icn.png" width="16" alt="">
        </button>
    </div>
    <div class="exposant_detail_container clearfix">
        <div class="exposant_content">
            <div class="exposant_globalInfos clearfix">
                <div class="big_exposant_logo">
                    <img ng-src="{{ exposant.logo_url ? exposant.logo_url : 'assets/img/default_exposant_logo.png'}}"
                         alt="">
                </div>
                <div class="exposant_infos">
                    <span class="article_infos orange_clr">Industrie - grande distribution - agro alimentaire</span>
                    <h4 class="news_title darkPurple_clr mb_10">
                        {{exposant.name}}
                    </h4>
                    <a href="" class="exposant_link">{{exposant.website}}</a>
                </div>
            </div>
            <div class="exposant_content_container">
                <p ng-if="exposant.summary">
                    {{exposant.summary}}
                </p>

                <h5 ng-if="exposant.description">Description</h5>
                <p>
                    {{exposant.description}}
                </p>
                <h5 ng-if="exposant.figures">Chiffres clefs</h5>
                <p>
                    {{exposant.figures}}
                </p>
                <h5 ng-if="exposant.staffing">Mode de recrutement</h5>
                <p>
                    {{exposant.staffing}}
                </p>
                <h5 ng-if="exposant.profiles">Postes et responsabilités proposés</h5>
                <p>
                    {{exposant.profiles}}
                </p>
                <h5 ng-if="exposant.more">Informations complémentaires</h5>
                <p>
                    {{exposant.more}}
                </p>
            </div>
        </div>
        <div class="exposant_options">
            <div>
                <h5>Nous retrouver</h5>
                <div class="visu_img">
                    <a href="">
                        <img src="assets/img/plan_vision_img.jpg" alt="">
                    </a>
                </div>
                <div>
                    Stand : {{exposant.stand}} <br>
                </div>
            </div>
            <div ng-if="exposant.news">
                <h5>Publication</h5>
                <div class="visu_img"  ng-repeat="new in exposant.news | limitTo:2">
                    <a href="">
                        <!--<div ng-if="new.type == 'video'" my-youtube code="new.youtube_id"></div>-->
                        <img ng-if="new.type == 'video'"  ng-src="http://img.youtube.com/vi/{{new.youtube_id}}/hqdefault.jpg" alt="">
                        <img ng-if="new.type == 'article'"  ng-src="{{new.img_url ? new.img_url : 'assets/img/news_img01.jpg'}}" alt="">

                        <span class="play_icn" ng-if="new.type == 'video'">
                            <img src="assets/img/big_video_play_icn.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>