<div class="article_body article_{{indexArticle}} grey_bg">
    <div class="player_block">
        <button class="article_back_btn" ng-click="hideArticle(indexArticle)">
            <img src="assets/img/close_back_icn.png" alt="" width="16">
        </button>
        <a href="" class="play_btn">
            <img src="assets/img/big_video_play_icn.png" alt="">
        </a>
        <img ng-src="{{actualite.image ? actualite.image : 'assets/img/news_img01.jpg'}}" alt="">
    </div>
    <div class="article_content">
        <span class="article_infos orange_clr">Vidéo, Publiée le 27/03/16</span>
        <h4 class="news_title darkPurple_clr">
            {{actualite.title}}
        </h4>
        <p>
            {{actualite.description}}
        </p>
    </div>
</div>