<div class="global_wrapper">
    <section id="conexion_area" class="sections_area conexion_area clearfix">
        <div class="left_parte connexion_left grey_bg">
            <div class="title_area">
                <h3 class="block_title with_bg lien_connexion">
                    <img src="assets/img/icon_connexion.png" alt="" class="title_box_img">
                    <a href="" title="Connexion" class="title_connexion small_title_parte active"
                       ng-click="showConnexion($event)">
                        Connexion
                    </a>
                    <a href="" title="Connexion" class="title_inscription small_title_parte"
                       ng-click="showInscription($event)">
                        Inscription
                    </a>
                </h3>
                <div class="block_content txt_connexion align_center">
                    <p class="mb_15">
                        Toutes les informations relatives à votre participation au Forum Arts & Métiers sont disponibles
                        ici
                    </p>
                    <p>
                        <a href="" class="btn orange_btn animated_btn"><span>Télécharger en pdf</span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="right_parte bloc_connexion">
            <div class="title_area">
                <div class="block_content">
                    <form action="{{ login_url }}" method="post" id="espace_connexion" class="active">
                        <p class="control_group">
                            <input type="email" class="simple_field darkPurple_clr connexion_nom_utilisateur"
                                   placeholder="Adresse email" name="email" required>
                        </p>
                        <p class="control_group">
                            <input type="password" class="simple_field darkPurple_clr connexion_mot_pass"
                                   placeholder="Mot de passe" name="password" required>
                        </p>
                        <div class="align_right">
                            <button class="btn purple_btn inverted_btn animated_btn" type="submit">
                                <span>Se connecter</span>
                            </button>
                        </div>
                        <p class="txt_oublier_pass darkPurple_clr align_center">Mot de passe oublié :
                            <a ui-sref="accueil({ target_area: 'target_contact_area'})" title="Contactez-nous"
                               class="darkPurple_clr">Contactez-nous</a>
                        </p>
                        <p class="txt_inscrire_pass orange_clr align_center">Vous souhaitez vous inscrire ?
                            <a href="#/inscription" title="Cliquez ici" class="orange_clr">Cliquez ici</a>
                        </p>
                    </form>
                    <form id="espace_inscription" name="inscriptionForm" novalidate>
                        <div class="control_group">
                            <input type="text" name="companyName" class="simple_field darkPurple_clr full_size"
                                   ng-model="company.name"
                                   placeholder="Nom de l’entreprise *" required>
                            <div ng-if="inscriptionForm.companyName.$dirty || submitted"
                                 ng-messages="inscriptionForm.companyName.$error" class="alert">
                                <div ng-message="required">Le nom de l'entreprise est obligatoire</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="text" name="companyWebsite" class="simple_field darkPurple_clr full_size"
                                   ng-model="company.website"
                                   placeholder="Site internet *" required>
                            <div ng-if="inscriptionForm.companyWebsite.$dirty || submitted"
                                 ng-messages="inscriptionForm.companyWebsite.$error" class="alert">
                                <div ng-message="required">Le site web de l'entreprise est obligatoire</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="text" name="companySummary" class="simple_field darkPurple_clr full_size"
                                   ng-model="company.summary"
                                   placeholder="Résumé des activités *" required>
                            <div ng-if="inscriptionForm.companySummary.$dirty || submitted"
                                 ng-messages="inscriptionForm.companySummary.$error" class="alert">
                                <div ng-message="required">Le résumé de l'entreprise est obligatoire</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="text" name="userFirstName" class="simple_field darkPurple_clr full_size"
                                   ng-model="user.first_name" placeholder="Prénom du responsable *" required>
                            <div ng-if="inscriptionForm.userFirstName.$dirty || submitted"
                                 ng-messages="inscriptionForm.userFirstName.$error" class="alert">
                                <div ng-message="required">Le prénom du responsable est obligatoire</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="text" name="userLastName" class="simple_field darkPurple_clr full_size"
                                   ng-model="user.last_name" placeholder="Nom du responsable *" required>
                            <div ng-if="inscriptionForm.userLastName.$dirty || submitted"
                                 ng-messages="inscriptionForm.userLastName.$error" class="alert">
                                <div ng-message="required">Le nom du responsable est obligatoire</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="tel" name="userPhone" class="simple_field darkPurple_clr full_size"
                                   ng-model="user.phone"
                                   placeholder="Téléphone *"
                                   ng-pattern="/^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$/" required/>
                            <div ng-if="inscriptionForm.userPhone.$dirty || submitted"
                                 ng-messages="inscriptionForm.userPhone.$error" class="alert">
                                <div ng-message="required">Le téléphone est obligatoire</div>
                                <div ng-message="pattern">Le format du téléphone est invalide</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="email" name="userEmail" class="simple_field darkPurple_clr full_size"
                                   ng-model="user.email"
                                   placeholder="Email *" required>
                            <div ng-if="inscriptionForm.userEmail.$dirty || submitted"
                                 ng-messages="inscriptionForm.userEmail.$error" class="alert">
                                <div ng-message="required">L'adresse email est obligatoire</div>
                                <div ng-message="email">Le champ doit être une adresse email valide.</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="password" name="userPassword" class="simple_field darkPurple_clr full_size"
                                   ng-model="user.password" placeholder="Mot de passe *" required>
                            <div ng-if="inscriptionForm.userPassword.$dirty || submitted"
                                 ng-messages="inscriptionForm.userPassword.$error" class="alert">
                                <div ng-message="required">Le mot de passe est obligatoire</div>
                            </div>
                        </div>
                        <div class="control_group">
                            <input type="password" name="userPasswordConfirmation"
                                   class="simple_field darkPurple_clr full_size"
                                   ng-model="user.password_confirmation" placeholder="Confirmation *" required>
                            <div ng-if="inscriptionForm.userPasswordConfirmation.$dirty || submitted"
                                 ng-messages="inscriptionForm.userPasswordConfirmation.$error" class="alert">
                                <div ng-message="required">La confirmation du mot de passe est obligatoire</div>
                            </div>
                        </div>
                        <div style="margin-bottom: 20px">
                            <div ng-show="formErrors" class="alert">
                                <div class="errors">
                                    <p>Des erreurs sont apparues :</p>
                                    <ul>
                                        <li ng-repeat="(key, value) in formErrors track by $index">{{ value[0] }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div data-ng-show="errors" class="alert">{{errors}}</div>
                            <div data-ng-show="success" class="info_success">
                                {{success}}
                            </div>
                        </div>
                        <div class="align_center">
                            <button class="btn purple_btn inverted_btn animated_btn" ng-click="signup(company, user)">
                                <span>S’inscrire</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>