<div class="global_wrapper exposants_page grey_bg">
    <exposant exposant-data="currentExposant"></exposant>
    <div class="exposant_wrapper">
        <h2 class="darkPurple_clr">
            Les exposants
        </h2>
        <div class="exposant_search_area mb_40 clearfix">
            <div class="search_controls clearfix">
                <input type="text" id="search_field" ng-model="search.name" class="simple_field darkPurple_clr bordered float_left"
                       placeholder="Rechercher une entreprise exposante">
                <select
                        chosen
                        disable-search-threshold="10"
                        placeholder-text-single="'Catégorie d’entreprise'"
                        no-results-text="'Aucun resultats'"
                        ng-model="selectedCategory"
                        ng-options="category.id as category.name for category in categories"
                        id="search_choices" class="styled_dropdown float_right">
                    <option value=""></option>
                </select>
            </div>
            <button class="btn purple_btn inverted_btn animated_btn search_btn" ng-click="resetSearch()"><span>Effacer</span></button>
        </div>
        <div>
            <ul class="exposants_liste clearfix">
                <li ng-repeat="exposant in exposants  | filter:search track by $index " ng-if="selectedCategory==undefined  || selectedCategory === exposant.category.id">
                    <a href="" ng-click="showExposant($index)">
                                <span class="logo_space">
                                    <img ng-src="{{ exposant.logo_url ? exposant.logo_url : 'assets/img/default_exposant_logo.png'}}"
                                         alt="">
                                </span>
                        <span class="exposant_title darkPurple_clr">{{exposant.name}}</span>
                        <span class="exposant_disc">{{exposant.description}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>